[Unit]
Description=Create encrypted Huali backup

[Service]
Type=oneshot
User=www-data
WorkingDirectory=/srv/huali/current
EnvironmentFile=/srv/huali/shared/.env
Environment=DJANGO_SETTINGS_MODULE=huali_website.settings_production
ExecStart=/srv/huali/venv/bin/python manage.py backup_site
